<div class="bomber-block functionality" style="margin-top: 0px;">
    <h2 class="bomber-text"><span class="fa fa-globe"></span> Fonctionnalités</h2>
    <hr class = "bomber-line" >

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Environement</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>getNearestEnemy() : Bomber</td>
            <td>Retourne l’ennemie le plus proche.</td>
        </tr>
        <tr>
            <td>getNearestBomb() : Bomb</td>
            <td>Retourne la bombe la plus proche.</td>
        </tr>
        <tr>
            <td>isEmptyCell(Cell) : bool</td>
            <td>Détermine si une cellule est vide.</td>
        </tr>
        <tr>
            <td>isBomber(Cell) : bool</td>
            <td>Détermine si le contenu de la cellule cell est un Bomber.</td>
        </tr>
        <tr>
            <td>isBomb(Cell) : bool</td>
            <td>Détermine si le contenu de la cellule cell est un Bombe.</td>
        </tr>
        <tr>
            <td>isObstacle(Cell) : bool</td>
            <td>Détermine si le contenu de la cellule cell est un obstacle.</td>
        </tr>
        <tr>
            <td>isWall(Cell) : bool</td>
            <td>Détermine si le contenu de la cellules cell est un mur.</td>
        </tr>
        <tr>
            <td>isOnSameLine(Cell cell1, Cell cell2) : bool</td>
            <td>Détermine si deux cellules cell1 et cell2 sont sur la même ligne.</td>
        </tr>
        <tr>
            <td>canMoveTo(Cell) : bool</td>
            <td>Détermine si le joueur peut se rendre sur la cellule ou non.</td>
        </tr>
        </tbody>
        <thead>
        <tr>
            <th>Action</th>
        </thead>
        <tbody>
        <tr>
            <td>moveLeft() : undefined</td>
            <td>Avance d’une case vers la droite.</td>
        </tr>
        <tr>
            <td>moveUp() : undefined</td>
            <td>Avance d’une case vers le haut.</td>
        </tr>
        <tr>
            <td>moveRight() : undefined</td>
            <td>Avance d’une case vers la gauche.</td>
        </tr>
        <tr>
            <td>moveDown() : undefined</td>
            <td>Avance d’une case vers le bas.</td>
        </tr>
        <tr>
            <td>moveToward(Bomber) : undefined</td>
            <td>Avance d’une case vers l’ennemie.</td>
        </tr>
        <tr>
            <td>moveToward(Cell) : undefined</td>
            <td>Avance d’une case vers la cellule donner.</td>
        </tr>
        <tr>
            <td>useBomb()</td>
            <td>Pose une bombe sur la cellule courante </td>
        </tr>
        </tbody>
    </table>
</div>