
<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header" >
      <a class="navbar-brand" href="/"><p><img src="./images/logo.png" style ="width:5%;"/>&nbsp;Bomberman</p></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
		<% if(!session.type) { %>
        <li><a href="/login">Connexion</a></li>
		<li><a href="/signup">Inscription</a></li>
		<% } else {
			if(session.type == "admin"){
		%>
		
		<%
			}
			if(session.type){
			
		%>
			<li><a href="/profile">Mon compte</a></li>
           
		<%
			}
		%>
		<li><a href="/logout">Déconnexion</a></li>
		<%
		} 
		%>
      </ul>
    </div>
  </div>
</nav>