
<!-- Navbar -->
<nav class="navbar navbar-default menu-top">
  <div class="container">
    <div class="navbar-header" >
      <a class="navbar-brand" href="/"><p class="bomber-title"><img src="/images/logo.png" style ="width:5%;"/>&nbsp;BomberBot</p></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
		<% if(!session.type) { %>
        <li><a href="/login"><p class="bomber-title">Connexion</p></a></li>
		<li><a href="/signup"><p class="bomber-title">Inscription</p></a></li>
		<% } else {
			if(session.type == "admin"){
		%>

		<%
			}
        %>
        <li><a href="/index">Jouer</a></li>
        <li><a href="/myBomberman">Mes Bomber</a></li>
        <li><a href="/profile">Mon compte</a></li>
		<li><a href="/logout">Déconnexion</a></li>
		<%
		}
		%>
      </ul>
    </div>
  </div>
</nav>
