.bomber-background {
  background-color: #6d819c;
  background-image: url("/images/wall2.png");
}

.menu-top {
  background-color: #2B4E79;
  border: 0px;
  color: white;
}

.bomber-title {
  color: #dedede;
  font-family: Montserrat;
  font-size: 18px;

}

.bomber-footer {
  background: #8AC53F;
  position: fixed;
  bottom:0px;
  height:20px;
  width:100%;
  z-index: 2;
}

.bomber-grass {
  background-image: url("/images/grass3.png");
  background-repeat: repeat-x;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 150px;
  z-index: 1;
}

.bomber-block {
  background-color: #e4e7ec;
  margin-top: 20px;
  padding: 0px 25px 10px 25px;
  border-radius: 5px;
  z-index: 3;
}

.bomber-bold {
  color: #55967e;
}

.bomber-text {
  color: #263959;
  font-family: Montserrat;
}

.bomber-table {
  border-color: #55967e;
}

hr.bomber-line {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #2B4E79, #55967e, #2B4E79);
}