.background {
  background-color: #6d819c;
  background-image: url("/images/wall2.png");
}

.menu-top {
  background-color: #e4e7ec;
}

.bomber-footer {
  background:#e4e7ec;
  position: fixed;
  bottom:0px;height:30px;
  width:100%;
}

.bomber-grass {
  background-image: url("/images/grass.png");
  background-repeat: repeat-x;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 200px;
}

.bomber-block {
  background-color: #e4e7ec;
  margin-top: 20px;
  padding: 0px 25px 10px 25px;
  border-radius: 5px;
}

.bomber-bold {
  color: #55967e;
}

.bomber-text {
  color: #263959;
}

.bomber-table {
  border-color: #55967e;
}

p
{
    color: blue;
}
