<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>BomberBot</title>
    <% include ./partials/header %>
</head>
<body class="bomber-background">

<% include ./partials/navbar %>

<% if(!session.type) { %>
<div class="container">
    <div class="col-sm-8 col-sm-offset-2 bomber-block ">
        <h2 class="bomber-text"><span class="fa fa-bomb"></span> BomberBot</h2>
        <hr class = "bomber-line" >

        <div class="row">
            <div class="col-sm-8">
                <p class="bomber-text">Avec <b class="bomber-bold">BomberBot</b>, créez le bot le plus puissant et faites exploser tous vos ennemis !</p>
                <br>
                <p class="bomber-text">Grâce à la <b class="bomber-bold">Bomber-API</b> que nous vous proposons, développez l’IA de votre
                    bot et battez vous sans répit. Entrez dans l'arene pour affronter les autres joueurs et hissez vous parmis les meileurs du <b class="bomber-bold">classement.</b></p>
                <br>
                <p class="bomber-text">Déjà <b class="bomber-bold"><%var count = JSON.parse(userCount)%><%=count.userCount%></b> poseurs de bombes inscrit !</p>
            </div>
            <div class="col-sm-4 hidden-xs">
                <img src="/images/bomberman.png" style ="width:100%;"/>
            </div>
        </div>
        <hr class = "bomber-line" >
        <% include ./partials/slider.ejs%>
    </div>
    <% } else {
    if(session.type == "admin"){
    %>
    <div class="col-sm-6 col-sm-offset-3 bomber-block">
        <h1 class="bomber-text"><span class="fa fa-sign-in"></span> Hello Admin!</h1>
        <% include ./partials/slider.ejs%>

    </div>
    <%
    }
    if(session.type == "user"){
    %>
    <div class="col-sm-6 col-sm-offset-3 bomber-block">
        <h1 class="bomber-text"><i class="fa f<a-globe" aria-hidden="true"></i> Hello <b class="bomber-bold"><%= session.login %></b> !</h1>

        <% include ./partials/slider.ejs%>

    </div>
    <%
    }
    }
    %>
    <% include ./partials/podium.ejs %>
</div>

<% include ./partials/footer %>

</body>
</html>