<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="fr">
<head>
  <title>BomberBot</title>
  <% include ./partials/header %>
</head>
<body class="bomber-background">

<% include ./partials/navbar %>

<% if(!session.type) { %>
  <div class="container">
      <div class="col-sm-7 col-sm-offset-2 bomber-block">
          <h2><span class="fa fa-globe"></span>BomberBot</h2>

          <div class="row">
            <div class="col-sm-8">
              <p class="bomber-text">Avec <b class="bomber-bold">BomberBot</b>, créez le bot le plus puissant et faites exploser tous vos ennemis !</p>
              <br>
              <p class="bomber-text">Grâce à la <b class="bomber-bold">Bomber-API</b> que nous vous proposons, développez l’IA de votre
                bot et battez vous sans répit. Entrez dans l'arene pour affronter les autres joueurs et hissez vous parmis les meileurs du <a><b class="bomber-bold">classement</b></a></p>
              <br>
              <p class="bomber-text">Déjà <b class="bomber-bold">15250</b> poseur de bombes inscrit !</p>
            </div>
            <div class="col-sm-4">
              <img src="./images/bomberman.png" style ="width:100%;"/>
            </div>
          </div>
      </div>
      <div class="col-sm-7 col-sm-offset-2 bomber-block">
          <h2><span class="fa fa-globe"></span>Classement</h2>

          <div class="row">
            <table class="table table-hover table-responsive bomber-tabler">
              <thead>
                <tr>
                  <th>#</th>
                  <th class="bomber-first">Joueur</th>
                  <th>Points</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>John</td>
                  <td>5161</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Mary</td>
                  <td>4913</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>July</td>
                  <td>4652</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
  </div>
<% } else {
  if(session.type == "admin"){
%>
<div class="container">
    <div class="col-sm-6 col-sm-offset-3 bomber-block">
        <h1><span class="fa fa-sign-in"></span> Hello Admin!</h1>
    </div>
</div>
<%
  }
  if(session.type){
%>
<div class="container">
    <div class="col-sm-6 col-sm-offset-3 bomber-block">
        <h1><i class="fa fa-globe" aria-hidden="true"></i> Hello <%= session.login %>!</h1>


    </div>
</div>
<%
  }
}
%>

<% include ./partials/footer %>

</body>
</html>
