<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" href="/assets/favicon/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/assets/favicon/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon/apple-touch-icon-152x152.png">
		<meta property="og:title" content="Bomberman in JavaScript">
		<meta property="og:description" content="Classic Bomberman game, ported to JavaScript">

		<link rel="stylesheet" href="/assets/css/font/font.css">
		<link rel="stylesheet" href="/assets/css/master.css">
	</head>

	<body>
		<div class="growl">
		</div>
		<div class="wrapper">
			<ul class="social">

			</ul>
			<section>
				<div class="about">

				</div>
				<div class="status players">
				</div>
				<div class="status log">
				</div>
			</section>
			<div class="game">

				<form class="menu">

					<ul>
						<li>
							<input type="text" name="user-name" placeholder="Your name" tabindex="1" maxlength="10">
							<button type="submit">New Game</button>
						</li>
						<li>
							<input type="text" name="game-id" placeholder="Game ID" tabindex="2">
							<button type="submit">Join Game</button>
						</li>
					</ul>
				</form>
				<canvas id="tiles" height="576" width="576"></canvas>
				<canvas id="bombs" height="576" width="576"></canvas>
				<canvas id="player-one" height="576" width="576"></canvas>
				<canvas id="player-two" height="576" width="576"></canvas>
				<canvas id="player-three" height="576" width="576"></canvas>
				<canvas id="player-four" height="576" width="576"></canvas>
			</div>
		</div>

		<div id="fb-root">
		</div>
	</body>

	<script src="/assets/lib/jquery.min.js"></script>
	<script src="/assets/lib/hashids.min.js"></script>
	<script src="/assets/js/scripts.js"></script>
	<script src="/assets/js/game.js"></script>

	<script src="https://cdn.socket.io/socket.io-1.2.1.js"></script>
	<script src="/assets/js/io.js"></script>
