<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>Inscription</title>
    <% include ./partials/header %>
</head>
<body class="bomber-background">
<% include ./partials/navbar %>

<div class="container">

    <div class="col-sm-6 col-sm-offset-3 bomber-block bomber-text">
        <%profile = JSON.parse(profile)%>
        <h1><span class="fa fa-sign-in"></span> Profil de <%=profile.loginUser%></h1>

        Nom de compte : <%=profile.loginUser%><br>
        Adresse mail : <%=profile.emailUser%><br>
    </div>

</div>
<% include ./partials/footer %>
</body>
</html>
